/* 02- IMPORTATION DES MIXINS */
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}