@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .section2__imgconteneur{
        overflow: hidden ;
        background-image: url('../../images/image-biere.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 350px);

        @media (max-width: 1024px){
            height: 500px;
            text-align: center;
        }

        @media (max-width: 480px){
            height: 320px;
        }

        &__biere{
            display: none;
        }
    }
    .section2__credits{
        display: block;
        text-align: center;
        padding: 10%;
    }
}