/** MAIN **/
html, body{
    background-color: $lightPink;
}
h1{
    font-family: ivymode, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    color: $lightPink;
    line-height: 86px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 40px;

    @media screen and (max-width: $lg) {
        font-size: 70px;
        line-height: 88px;
        margin-bottom: 20px;
    }
    @media screen and (max-width: $md) {
        font-size: 50px;
        line-height: 64px;
     }
    @media screen and (max-width: $sm) {
        font-size: 40px;
        line-height: 44px;
    }
}
h2{
    font-family: ivymode, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 44px;
    color: $lightPink;
    margin-top: 0;
    margin-bottom: 10px;

    @media screen and (max-width: $md) {
        font-size: 34px;
    }
    @media screen and (max-width: $sm) {
        font-size: 28px;
    }
}
p{
    font-family: $soleil;
    font-weight: 200;
    font-size: 24px;
    color: $lightPink;
    line-height: 30px;
    text-align: left;
    @media screen and (max-width: $md) {
        font-size: 22px;
        line-height: 28px;
    }
    @media screen and (max-width: $sm) {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }
}
.btn{
    font-size: 16px;
    font-weight: 400;
    font-family: $soleil;
    display: inline-block;
    border: 1.5px solid $lightPink;
    border-radius: 50px;
    padding: 15px 25px;
    position: relative;
    cursor: pointer;
    transition: 0.3s all ease-in;
    color: #393939;
    background-color: $lightPink;
    text-decoration: none;
    &:hover{
        background-color: $lightPink;
        a{
            color: $darkPink;
        }
    }

    

    @media screen and (max-width: $sm) {
        margin: 0;
        font-size: 14px;
        padding:  18px 26px;
     }

    a{
        color: $lightPink;
        transition: 0.3s all ease-in;
        text-decoration: none;
    }
}
.links{
    font-family: $ivy;
    font-display: swap;
    font-size: 33px;
    text-decoration: none;
    font-weight: 300;
    color: $darkPink;
    line-height: 40px;
    text-decoration: none;
    background-image: linear-gradient($darkPink, $darkPink);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;

    &:hover, &:focus{
        background-size: 100% 2px;

        @media screen and (max-width: $sm) {
            background-size: 100% 1px;
        }
    }

    @media screen and (max-width: $lg) {
        font-size: 26px;
        line-height: 34px;
    }
    @media screen and (max-width: $sm) {
        font-size: 19px;
        background-size: 100% 1px;
    }
}
.container{
    max-width: $xl;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;

    @media screen and (max-width: $lg) {
        padding-left: 80px;
        padding-right: 80px;
    }
    @media screen and (max-width: $md) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media screen and (max-width: $sm) {
        padding: 0;
     }

}
.header{
    background-image: url('../images/coconut-bg.jpg');
    background-size: cover;
    height: 810px;
    display: flex;
    flex-direction: column;
    align-content: center;

    @media screen and (max-width: $md) {
        // height: 750px;
    }
    @media (min-width: 481px) and (max-width: $lg) {
        background-image: url('../images/coconut-bg-tablette.jpg');
        height: initial;
    }
    @media (max-width: $sm) {
        background-image: url('../images/coconut-bg-mobile.jpg');
        height: initial;
        padding-left: 20px;
        padding-right: 20px;
    }

    // Header top **********
    &__top{
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            margin-bottom: auto;
    
            @media screen and (max-width: $sm) {
                width: 125px;
                margin-right: auto;
             }
        }

        &__rs{
            display: flex;
            justify-content: flex-end;
    
            a{
                font-size: 20px;
                font-weight: 300;
                font-family: $soleil;
                color: $lightPink;
                text-transform: uppercase;
                text-decoration: none;
                background-image: linear-gradient($lightPink, $lightPink);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 100% 1.5px;
                transition: background-size .35s;

                @media screen and (max-width: $sm) {
                    background-image: none;
                }
                &:hover, &:focus{
                    background-size: 0% 1.5px;

                    @media screen and (max-width: $sm) {
                        #svgFacebook, #svgInstagram{
                            fill: #fbfaf8;
                        }
                        
                    }
                }
    
                @media screen and (max-width: $sm) {
                    font-size: 14px;
                    line-height: 17px;
                }
    
                &:first-child{
                    margin-right: 35px;
    
                    @media screen and (max-width: $sm) {
                        margin-right: 20px;
                    }
                }
            }
            .rs__text{
                @media screen and (max-width: $sm) {
                    display: none;
                }
            }
            .rs__icon{
                display: none;

                #svgFacebook, #svgInstagram{
                    transition: 0.3s all ease-in-out;
                }

                @media screen and (max-width: $sm) {
                    display: inline-block;
                }
            }
        }
    }

    // Contenu principal **********
    &__contenu{
        align-self: center;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;

        @media screen and (max-width: $lg) {
            flex-wrap: wrap;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        @media screen and (max-width: $sm) {
            flex-wrap: wrap;
            margin-top: 60px;
            margin-bottom: 60px;
        }
        
        
        &__left{
            width: 60%;
            margin-right: 80px;
            .btn{
                margin-right: 10px;
            }
            @media screen and (max-width: $lg) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 60px;
                .btn{
                    margin-top: 20px;
                }
            }
            @media screen and (max-width: $sm) {
                margin-bottom: 40px;
                .btn{
                   width: 100%;
                   margin: 10px 0;
                   text-align: center;
                   &:first-child{
                       margin-top: 20px;
                   }
                }
            }

            p{
                margin-top: 15px;
                margin-bottom: 30px;
                margin-left: auto;
                margin-right: auto;

                @media screen and (max-width: $lg) {
                   // margin-bottom: 0;
                }
            }
        }
        &__right{
            width: 40%;

            @media screen and (max-width: $lg) {
                width: 100%;
            }

            // FORMULAIRE INFOLETTRE **********
            .form{
                label{
                    display: none;
                }
                input[type=text], input[type=email]{
                    border: 1px solid $lightPink;
                    border-radius: 50px;
                    background-color: transparent;
                    appearance: none;
                    color: $lightPink;
                    font-size: 16px;
                    font-family: $soleil;
                    padding: 18px 30px;
                    width: 100%;
                    // outline: $lightPink;

                    &::placeholder{
                        color: #C0B6B1;
                    }
                }

                &__row1{
                    margin-bottom: 20px;
                    display: flex;

                    @media screen and (max-width: $sm) {
                        margin-bottom: 0;
                        flex-wrap: wrap;
                    }

                    &__input--text{
                        width: 50%;

                        @media screen and (max-width: $sm) {
                            width: 100%;
                            margin-bottom: 20px;
                        }

                        &:first-child{
                            margin-right: 20px;

                            @media screen and (max-width: $sm) {
                                margin-right: 0;
                            }
                        }
                    }
                }
                &__row2{
                    position: relative;

                    &__input--text{
                        width: 100%;
                    }
                    input[type=submit]{
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        border-radius: 50px;
                        padding: 0 30px;
                        appearance: none;
                        border: none;
                        background-color: $lightPink;
                        font-family: $soleil;
                        font-size: 16px;
                        color: $darkPink;
                        transition: 0.3s all ease-in-out;

                        &:hover{
                            background-color: #fbfaf8;
                            cursor: pointer;
                        }
                        @media screen and (max-width: $sm) {
                            position: relative;
                            padding: 18px 30px;
                            margin-left: auto;
                            margin-top: 20px;
                            display: block;
                        }
                    }
                }

            }
            
        }
    }
}
.contact{
    background-image: url('../images/texture-bg.png');
    background-size: cover;
    background-color: $lightPink;
    background-position: bottom;
    padding-top: 90px;
    padding-bottom: 20px;

    @media screen and (max-width: $md) {
        padding-top: 60px;
    }
    @media screen and (max-width: $sm) {
        padding-left: 20px;
        padding-right: 20px;
     }

    &__links{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;

        @media screen and (max-width: $md) {
            flex-wrap: wrap;
            padding-bottom: 40px;
            justify-content: left;
        }

        p{
            margin-right: 60px;
            margin-top: 0;
            margin-bottom: 0;

            @media screen and (max-width: $md) {
               margin-right: 0;
               margin-bottom: 20px;
               text-align: left;

                &:last-child{
                    margin-bottom: 0;
                }
            }

            a{
                line-height: 46px;

                @media screen and (max-width: $lg) {
                    line-height: 39px;
                }
                @media screen and (max-width: $sm) {
                    line-height: 28px;
                }
            }
        }
    }
    small{
        font-family: $soleil;
        font-size: 16px;
        font-weight: 300;
        color: $darkPink;
        text-align: center;
        display: block;
        opacity: 0.6;

        @media screen and (max-width: $md) {
            text-align: left;
        }

        a{
            color: $darkPink;
            text-decoration: none;
            background-image: linear-gradient($darkPink, $darkPink);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 100% 1.5px;
            transition: background-size .35s;

            &:hover, &:focus{
                background-size: 0% 1.5px;

                @media screen and (max-width: $sm) {
                    background-size: 100% 1px;
                }
            }

            @media screen and (max-width: $sm) {
                line-height: 28px;
                background-size: 100% 1px;
            }
        }
    }
}

/* Style des message d'erreur */
.erreur{
    color: red;
    font-weight: bold;
}