/** POPUP **/
.popup{
    background-color: $darkPink;
    position: fixed;
    bottom: 20px;
    box-shadow: 4px 0px 11px 0px rgba(130,130,130,0.3);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 18px 45px;
    border-radius: 50px;
    animation: popup 5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 300ms;
    left: 50%;

    @media screen and (max-width: $sm) {
       width: 310px;
       padding: 18px 23px;
       padding-bottom: 20px;
    }

    svg{
        width: 22px;
        height: 28px;
        margin-right: 12px;
        @media screen and (max-width: $sm) {
            display: none;
        }
    }
    &__titre{
        font-family: $soleil;
        font-size: 16px;
        color: $lightPink;
        margin: 0;
        line-height: normal;
    }

}

@keyframes popup{
    0%{
        transform: translateY(80px) translateX(-50%);
        opacity: 0;
    }
    10%{
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
    90%{
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
    100%{
        transform: translateY(80px) translateX(-50%);
        opacity: 0;
    }
}